---
import { type About } from '../types/about'
import { type TypeSkills } from '../types/skills'
import { getCollection } from 'astro:content'
import Base from '@layouts/Base.astro'
import AboutMe from '@components/AboutMe.astro'
import Skills from '@components/Skills.astro'
import Project from '@components/Project.astro'
import Timeline from '@components/Timeline.astro'

const about = await Astro.glob<About>('../content/about/about.md')
const skills = await Astro.glob<TypeSkills>('../content/skills/skills.md')
const projects = await getCollection('projects')

const getInterleavedOrder = (index: number) => (index % 2 === 0 ? 1 : 2)
---

<Base>
  {
    about.map(({ frontmatter: { title, subtitle, profile_picture, img_alt, cv }, Content }) => (
      <AboutMe title={title} subtitle={subtitle} profile_picture={profile_picture} img_alt={img_alt} cv={cv}>
        <Content />
      </AboutMe>
    ))
  }

  <section
    id='works'
    class='mx-auto mt-10 flex min-h-fit w-full max-w-3xl flex-col items-center justify-start gap-8 sm:gap-12 md:mt-12'>
    <h2>Experiencia</h2>
    <Timeline />
  </section>

  {
    skills.map(({ frontmatter: { stacks }, Content }) => (
      <Skills stacks={stacks}>
        <Content />
      </Skills>
    ))
  }

  <section
    id='projects'
    class='mx-auto mt-10 flex min-h-fit w-full max-w-3xl flex-col items-center justify-start gap-8 sm:gap-12 md:mt-12'>
    <h2>Últimos proyectos</h2>
    {
      projects
        .sort((a, b) => b.data.order - a.data.order)
        .map(
          async (
            { data: { name, stack, website, repository, img_alt, img_mobile, img_laptop, img_desktop }, render },
            index
          ) => {
            const Content = await (await render()).Content
            const order = getInterleavedOrder(index)

            return (
              <Project
                order={order}
                name={name}
                stack={stack}
                website={website}
                repository={repository}
                img_alt={img_alt}
                img_mobile={img_mobile}
                img_laptop={img_laptop}
                img_desktop={img_desktop}>
                <Content />
              </Project>
            )
          }
        )
    }
  </section>
</Base>
