---
import '@styles/global.css'
import config from '@config/config.json'
import { createOgImage } from '@utils/createOgImage'
import { ViewTransitions } from 'astro:transitions'
import Header from '@components/Header.astro'

export interface Props {
  title?: string
  meta_title?: string
  description?: string
  image?: string
  noindex?: boolean
  canonical?: string
}

const { title, meta_title, description, noindex } = Astro.props

const ogImage = createOgImage({
  title: meta_title ? meta_title : title ? title : config?.site.title,
  meta: [config?.site.title, config?.site.base_url].join(' · ')
})
---

<!doctype html>
<html lang={config?.site.lang} class='theme-dark'>
  <head>
    <!-- favicon -->
    <link rel='shortcut icon' href={config?.site.favicon} />
    <link rel='apple-touch-icon' href={config?.site.apple_icon} />
    <!-- theme meta -->
    <meta name='theme-name' content='bookworm-light-astro' />
    <meta name='msapplication-TileColor' content='#000000' />
    <meta name='theme-color' media='(prefers-color-scheme: light)' content='#fff' />
    <meta name='generator' content={Astro.generator} />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <!-- responsive meta -->
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=5' />

    <title>{meta_title ? meta_title : title ? title : config?.site.title}</title>
    <meta name='title' content={meta_title ? meta_title : title ? title : config?.site.title} />
    <link rel='canonical' href={`${config?.site.base_url}/${Astro.url.pathname.replace('/', '')}`} item-prop='url' />
    {noindex && <meta name='robots' content='noindex,nofollow' />}
    <meta name='description' content={description ? description : config?.metadata.meta_description} />
    <!-- author from config?.json -->
    <meta name='author' content={config?.metadata.meta_author} />
    <!-- og-title -->
    <meta property='og:title' content={meta_title ? meta_title : title ? title : config?.site.title} />
    <!-- og-description -->
    <meta property='og:description' content={description ? description : config?.metadata.meta_description} />
    <meta property='og:type' content='website' />
    <meta property='og:url' content={`${config?.site.base_url}/${Astro.url.pathname.replace('/', '')}`} />

    <!-- twitter-title -->
    <meta name='twitter:title' content={meta_title ? meta_title : title ? title : config?.site.title} />
    <!-- twitter-description -->
    <meta name='twitter:description' content={description ? description : config?.metadata.meta_description} />
    <!-- og-image -->
    <meta property='og:image' content={ogImage} />
    <!-- twitter-image -->
    <meta name='twitter:image' content={ogImage} />
    <meta name='twitter:card' content='summary_large_image' />

    <script is:inline src='/registerSW.js'></script>
    <link rel='manifest' href='/manifest.webmanifest' />
    <ViewTransitions />
  </head>
  <body class='backgrounds min-h-screen bg-dark text-white'>
    <Header />
    <main class='mx-auto max-w-screen-lg px-10 py-5 pt-1 md:px-12 md:py-7 md:pt-3 lg:px-20 lg:py-10 lg:pt-5'>
      <slot />
    </main>
    <script>
      // This is a hack to get vite-plugin-pwa to generate a sw.js file.
      // Do not remove this script tag.
    </script>

    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener('load', () => document.documentElement.classList.add('loaded'))
    </script>

    <style>
      :root {
        --_placeholder-bg: linear-gradient(transparent, transparent);
        --bg-image-main: url('/assets/backgrounds/bg-main-light-800w.jpg');
        --bg-image-main-curves: url('/assets/backgrounds/bg-main-light.svg');
        --bg-image-subtle-1: var(--_placeholder-bg);
        --bg-image-subtle-2: var(--_placeholder-bg);
        --bg-image-footer: var(--_placeholder-bg);
        --bg-svg-blend-mode: overlay;
        --bg-blend-mode: darken;
        --bg-image-aspect-ratio: 2.25;
        --bg-scale: 1.68;
        --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
        --bg-gradient-size: calc(var(--bg-scale) * 100%);
      }

      :root.theme-dark {
        --bg-image-main: url('/assets/backgrounds/bg-main-dark-800w.jpg');
        --bg-image-main-curves: url('/assets/backgrounds/bg-main-dark.svg');
        --bg-svg-blend-mode: darken;
        --bg-blend-mode: lighten;
      }

      /* These backgrounds are displayed below the fold, so we lazy load them
			   once the `.loaded` class has been set.  */
      :root.loaded {
        --bg-image-subtle-1: url('/assets/backgrounds/bg-subtle-1-light-800w.jpg');
        --bg-image-subtle-2: url('/assets/backgrounds/bg-subtle-2-light-800w.jpg');
        --bg-image-footer: url('/assets/backgrounds/bg-footer-light-800w.jpg');
      }
      :root.loaded.theme-dark {
        --bg-image-subtle-1: url('/assets/backgrounds/bg-subtle-1-dark-800w.jpg');
        --bg-image-subtle-2: url('/assets/backgrounds/bg-subtle-2-dark-800w.jpg');
        --bg-image-footer: url('/assets/backgrounds/bg-footer-dark-800w.jpg');
      }

      @media (min-width: 50em) {
        :root {
          --bg-scale: 1;
          --bg-image-main: url('/assets/backgrounds/bg-main-light-1440w.jpg');
        }
        :root.theme-dark {
          --bg-image-main: url('/assets/backgrounds/bg-main-dark-1440w.jpg');
        }

        :root.loaded {
          --bg-image-subtle-1: url('/assets/backgrounds/bg-subtle-1-light-1440w.jpg');
          --bg-image-subtle-2: url('/assets/backgrounds/bg-subtle-2-light-1440w.jpg');
          --bg-image-footer: url('/assets/backgrounds/bg-footer-light-1440w.jpg');
        }
        :root.loaded.theme-dark {
          --bg-image-subtle-1: url('/assets/backgrounds/bg-subtle-1-dark-1440w.jpg');
          --bg-image-subtle-2: url('/assets/backgrounds/bg-subtle-2-dark-1440w.jpg');
          --bg-image-footer: url('/assets/backgrounds/bg-footer-dark-1440w.jpg');
        }
      }

      .backgrounds {
        min-height: 100%;
        isolation: isolate;
        background:
					/*noise*/
          url('/assets/backgrounds/noise.png') top center/220px repeat,
          /*footer*/ var(--bg-image-footer) bottom center/var(--bg-gradient-size) no-repeat,
          /*header1*/ var(--bg-image-main-curves) top center/var(--bg-gradient-size) no-repeat,
          /*header2*/ var(--bg-image-main) top center/var(--bg-gradient-size) no-repeat,
          /*base*/ var(--gray-999);
        background-blend-mode: /*noise*/
          overlay,
          /*footer*/ var(--bg-blend-mode),
          /*header1*/ var(--bg-svg-blend-mode),
          /*header2*/ normal,
          /*base*/ normal;
      }
      @media (forced-colors: active) {
        /* Deactivate custom backgrounds for high contrast users. */
        .backgrounds {
          background: none;
          background-blend-mode: none;
          --bg-gradient-size: none;
        }
      }
    </style>
  </body>
</html>
